@model SeyahatIstanbul.Models.CustomerLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="~/Content/LoginRegister.css" rel="stylesheet" />
    @*<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <script src="~/Content/Jquery/js/jquery-1.10.2.js"></script>
    <script src="~/Content/Jquery/js/jquery-ui-1.10.4.custom.min.js"></script>
    <link href="~/Content/Jquery/css/start/jquery-ui-1.10.4.custom_min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @*<script src="//ajax.aspnetcdn.com/ajax/jQuery.validate/1.11.1/jquery.validate.js" type="text/javascript"></script>*@
    @*<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.ui.datepicker.js"></script>

    <style>
        form {
            padding: 10px;
        }

        .error {
            border: 1px solid #b94a48 !important;
            background-color: #fee !important;
        }
    </style>
</head>
<body>
    <div id="container">
        <header>
            <div id="dvBaslik">Şifremi Unuttum</div>
        </header>
        <div class="dvClear"></div>
        <div id="bodyContainer">
            <section>
                <form id="frmUser" method="post">
                    <div id="hata" class="hataAlani"></div>
                    <div class="clear"></div>
                    <div class="control-group">
                        @Html.LabelFor(d => d.chEmail, new { @class = "control-label" })
                        <div class="controls clear">
                            @Html.TextBoxFor(d => d.chEmail, new { @class = "txt" })
                            @Html.ValidationMessageFor(d => d.chEmail)
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="control-group btn_group">
                        <div class="controls">
                            <button id="btnSave" type="submit" class="btn btn-large btn-block btn-primary">Gönder</button>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    $("form").validate({
                        showErrors: function (errorMap, errorList) {
                            
                            $.each(this.validElements(), function (index, element) {
                                var $element = $(element);
                                $element.data("title", "")
                                .removeClass("error")
                                .tooltip("destroy");
                            });

                            $.each(errorList, function (index, error) {
                                var $element = $(error.element);

                                $element.tooltip("destroy") 
                                .data("title", error.message)
                                .addClass("error")
                                .tooltip();
                            });
                        },
                        rules: {
                            chEmail: { email: true, required: true }
                        },
                        messages: {
                            chEmail: {
                                required: "Email alanı boş geçilmez",
                                email: "Geçerli bir email giriniz"
                            }
                        },
                        submitHandler: function (form) {
                            $.ajax({
                                url: '@Url.Action("ForgotPassword", "Account")',
                                type: 'POST',
                                data: $('#frmUser').serialize(),
                                success: function (data_1) {
                                        $('#frmUser').html("<div class='sucsess'><div class='sucsessIcon'></div> Şifreniz Email Adresinize başarı ile gönderilmiştir</div>");
                                        window.setTimeout(' window.parent.location.reload();', 500);                                    

                                },
                                error: function () {
                                    alert("İstenmeyen bir hata oluştu lütfen tekrar deneyiniz");
                                    window.setTimeout(' window.parent.location.reload();', 1000);
                                }
                            });
                        }
                    });
                    function call(data) {
                        alert(data);
                    }
                </script>
            </section>
        </div>
        <footer></footer>
    </div>
</body>
</html>